[submodule "CN"]
	path = CN
	url = https://github.com/adriwitek/CN
[submodule "TI"]
	path = TI
	url = https://github.com/adriwitek/TI
[submodule "PE"]
	path = PE
	url = https://github.com/adriwitek/PE
[submodule "GD_"]
	path = GD_
	url = https://github.com/adriwitek/GD_
[submodule "MAAA"]
	path = MAAA
	url = https://github.com/adriwitek/MAAA
[submodule "PDGE"]
	path = PDGE
	url = https://github.com/adriwitek/PDGE
[submodule "pln_"]
	path = pln_
	url = https://github.com/adriwitek/pln_
[submodule "PLN_"]
	path = PLN_
	url = https://github.com/adriwitek/PLN_
[submodule "ReinforcementLearning"]
	path = ReinforcementLearning
	url = https://github.com/adriwitek/ReinforcementLearning
